<div  class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <h6 class="m-0 font-weight-bold text-primary">Quản lý hóa đơn nhập</h6>
            <button class="btn btn--primary" (click) ="showModal('create')">Thêm mới</button>
        </div>
        <div class="input-group" style="width: 50%; margin-left: 50px; margin-top: 20px;">
            
            <div class="input-group-append" style="background-color: #4e73df;">
                
                
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table " id="dataTable" width="100%" cellspacing="0" style="color: black;">
                    <thead>
                        <tr>
                            <th>STT</th>
                           
                            <th>Tên nhà cung cấp</th>
                            <th>Thời gian</th>
                            <th style="text-align: left ; ">Cần trả nhà cung cấp</th>
                            <th style="text-align: center;">Trạng thái</th>
                            <th style="text-align: center;">Chi tiết</th>
                            <!-- <th>Chức năng</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor = "let item of hoadonnhap | paginate: { itemsPerPage: 10, currentPage: p }; let i = index" >
                            <td>{{ i + 1 + (p - 1) * 10 }}</td>
                            
                            <td>{{ item.TenNhaCungCap }}</td>
                            <td>{{ item.NgayNhap| date:'dd-MM-YYYY' }}</td>
                            <td style="text-align: left ;">{{ item.ThanhTien| currency:'VND':'symbol':'1.0-0' }}</td>
                            
                            <td><span style="white-space: nowrap; display: inline-block; width: 100%;text-align: center;margin-right: auto;border-radius: 0.35rem; padding: 0.30rem 0.12rem; color: #fff;background-color: darkgreen;">Đã nhập hàng</span></td>
                            <!-- <td class="table__data-td">
                                <button class="edit__btn"  (click) ="editModalDepartment(item.MaNhaCungCap)" style="background-color: transparent; border: none;"><i class="table__icon table__icon-edit fas fa-pen"></i></button>
                                <button class="delete__btn" (click) ="deleteLoaiSp(item.MaNhaCungCap)" style="background-color: transparent; border: none;"><i class="table__icon table__icon-delete fas fa-trash"></i></button>
                            </td> -->
                            <td style="text-align: center;"><button  style="background-color: #6777ef;border-radius: 0.35rem; padding: 0.30rem 0.4rem;color: #fff;border: none;">Xem chi tiết</button></td>
                        </tr>
                        
                        
                    </tbody>
                </table>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>
</div>
<div class="manager__modal" id="model2">
    <!-- begin: modal-content -->
    <div class="manager__modal-content" id="content2">
        <div class="manager__container modal__header">
            <div class="manager__modal-title">
                <h5>Tạo hóa đơn nhập</h5>
            </div>

            <div class="manager__modal-close" (click)="closeModal()">
                <i class="fas fa-times"></i>
            </div>
        </div>

        <div class="manager__container modal__body">
            <form class="form" (ngSubmit)="submitForm()">
                <div class="form__item">
                    <label class="form__label">Nhà cung cấp</label>
                    <select class="form__input" name="MaNhaCungCap" [(ngModel)]="MaNhaCungCap" required class="form-select ng-pristine ng-valid ng-touched" style="padding: 5px;border-radius: 10px;  width: 100%;">
                        <option value="">-- Chọn nhà cung cấp --</option>
                        <option *ngFor="let item of dataDropdown" [value]="item.MaNhaCungCap">{{ item.TenNhaCungCap }}</option>
                    </select>
                </div>
                <div class="form__item">
                    <label class="form__label">Tên sản phẩm</label>
                    <select class="form__input" name="MaSanPham" [(ngModel)]="MaSanPham" required class="form-select ng-pristine ng-valid ng-touched" style="padding: 5px;border-radius: 10px;width: 100%;">
                        <option value="">-- Chọn tên sản phẩm --</option>
                        <option *ngFor="let item of dataDropdownSanPham" [value]="item.MaSanPham">{{ item.TenSanPham }}</option>
                    </select>
                </div>
                <div class="form__item">
                    <label class="form__label">Giá</label>
                    <input type="number" class="form__input" name="Gia" [(ngModel)]="Gia" required min="0" style="width: 100%;">
                </div>
                <div class="form__item">
                    <label class="form__label">Số lượng</label>
                    <input type="number" class="form__input" name="SoLuong" [(ngModel)]="SoLuong" required min="0" style="width: 100%;">
                </div>
                <button class="btn btn--primary btn--submit" type="submit">
                    Thêm
                </button>
            </form>
            <input class="get-index" type="hidden" value="">
        </div>
    </div>
</div>
