<div  class="container-fluid" style="overflow-y: scroll; height: 600px;">
    <div><h3 style="color: black;" >Kết quả bán hàng hôm nay</h3></div>
    <!-- Content Row -->
    <div class="row" >


        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2" >
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Tổng doanh thu </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" *ngIf="orders">{{ orders.total_revenue ? (orders.total_revenue | currency:'VND':'symbol':'1.0-0') : '0đ' }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Tổng đơn hàng</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" *ngIf="orderSummary">{{ orderSummary.total_orders }} đơn hàng</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-box fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tổng đơn hàng chờ xác nhận
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800" *ngIf="ordersStatus0">{{ ordersStatus0.total_orders }} đơn hàng</div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-info" role="progressbar"
                                            style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                            aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Tổng đơn hàng đang giao</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" *ngIf="ordersStatus2">{{ ordersStatus2.total_orders }} đơn hàng</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-car fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->
    <div class="card-header py-3 d-flex justify-content-between align-items-center">
        <h6 class="m-0 font-weight-bold text-primary" style="font-size: 20px;">Danh sách đơn hàng</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table " id="dataTable" width="100%" cellspacing="0" style="color: black;">
                <thead>
                    <tr style="text-align: center;">
                        <th>STT</th>
                        <th>Tên Khách hàng</th>
                        <th>Địa Chỉ</th>
                        <th>Số Điện Thoại</th>
                        <th>Ngày Đặt</th>
                        <th>Thành tiền</th>
                        <th>Trạng thái</th>
                        <th>Chi tiết đơn hàng</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of todayOrders;let i = index" style="text-align: center;">
                        <td>{{ i + 1 }}</td>
                        <td>{{ order.TenKhachHang }}</td>
                        <td>{{ order.DiaChi }}</td>
                        <td>{{ order.SoDienThoai }}</td>
                        <td>{{ order.NgayDat |date:'dd-MM-YYYY' }}</td>
                        <td> {{ order.thanhtien | currency:'VND':'symbol':'1.0-0' }}</td>
                        <td><span [ngClass]="{
                            'bg-danger': order.TrangThaiText === 'Chờ xác nhận', 
                            'bg-success': order.TrangThaiText === 'Đã xác nhận',
                            'bg-primary': order.TrangThaiText === 'Đang giao hàng',
                            'bg-info': order.TrangThaiText === 'Giao thành công',
                            'bg-secondary': order.TrangThaiText === 'Đã hoàn hàng'
                        }" style="white-space: nowrap; display: inline-block; width: 100%;text-align: center;margin-right: auto;border-radius: 0.35rem; padding: 0.30rem 0.12rem; color: #fff;">
                            {{order.TrangThaiText}}
                        </span></td>
                        
                        <td>
                            <!-- Nút hoặc liên kết để xem chi tiết đơn hàng -->
                            <button (click)="viewChitietDH(order.MaDonHang)" style="background-color: #6777ef;border-radius: 0.35rem; padding: 0.30rem 0.4rem;color: #fff; border: none;">Xem chi tiết</button>
                        </td>
                    </tr>                                 
                </tbody>
            </table>
            <!-- <div style="font-size: 15px; margin-left: 70%; margin-top: 20px;"><pagination-controls (pageChange)="p = $event"></pagination-controls></div> -->
        </div>
    </div>
    
    <div class="card-body">
        <h2 > Tổng doanh thu  <span  *ngIf="totalRevenue !== undefined && totalRevenue !== null && totalRevenue !== 0">: {{ totalRevenue | currency:'VND':'symbol':'1.0-0' }}</span></h2>
        <div style="display: flex; column-gap: 32px; align-items: center;">
            <div  style="display: flex; align-items: center; column-gap: 12px;">
                <label for="startDate" style="min-width: 80px; margin-bottom: 0;">Từ ngày:</label>
                <input type="date" class="form-control" id="startDate" [(ngModel)]="startDate">
            </div>
            <div  style="display: flex; align-items: center; column-gap: 12px;">
                <label for="endDate" style="min-width: 80px;margin-bottom: 0;">Đến ngày:</label>
                <input type="date" class="form-control" id="endDate" [(ngModel)]="endDate">
            </div>
            <div>
                <button class="btn btn-primary" style="height: 50%;" (click)="getThongKe()">Thống kê</button>
            </div>
            
        </div>
      
        <div class="card mt-4" *ngIf="orders">
          <div class="card-header" ><h6 style="color: #4e73df;font-size: 20px;font-weight: 700;">Danh Sách Đơn Hàng</h6></div>
          <div class="card-body">
            <div *ngIf="orders.length === 0" class="alert alert-warning">Không tìm thấy đơn hàng nào trong khoảng thời gian này.</div>
            <table class="table " style="color: black;">
              <thead>
                <tr>
                  <th>STT</th>
                  <th>Tên khách hàng</th>
                  <th>Số điện thoại</th>
                  <th>Địa chỉ</th>
                  <th>Ngày đặt</th>
                  <th style="text-align: center;">Trạng Thái</th>
                  <th style="text-align: right;">Thành tiền</th>
                  <th style="text-align: right;">Xem chi tiết</th>

                  <!-- <th>Trạng Thái</th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let order of orders_TK| paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
                  <td>{{ i + 1 + (p - 1) * 10 }}</td>
                  <td>{{ order.TenKhachHang }}</td>
                  <td>{{ order.SoDienThoai }}</td>
                  <td>{{ order.DiaChi }}</td>
                  
                  <td>{{ order.created_at |date:'dd-MM-YYYY'}}</td>
                  <td><span style="white-space: nowrap; display: inline-block; width: 100%;text-align: center;margin-right: auto;border-radius: 0.35rem; padding: 0.30rem 0.12rem; color: #fff;background-color: darkgreen;">Hoàn thành</span></td>
                  <!-- <td>{{ order.TrangThai }}</td> -->
                  <td style="text-align: right;">{{ order.TongThanhTien | currency:'VND':'symbol':'1.0-0' }}</td>
                  <td>
                    <!-- Nút hoặc liên kết để xem chi tiết đơn hàng -->
                    <button (click)="viewChitietDH(order.MaDonHang)" style="background-color: #6777ef;border-radius: 0.35rem; padding: 0.30rem 0.4rem;color: #fff; border: none;">Xem chi tiết</button>
                </td>
                </tr>
              </tbody>
            </table>
            <div style="font-size: 15px; margin-left: 70%; margin-top: 20px;"><pagination-controls (pageChange)="p = $event"></pagination-controls></div>
            
            
          </div>
        </div>
    </div>

    
</div>
