<div class="Header">
    <div class="container">
        <div class="row navbar hide-on-tablet-mobile">
            <ul class="navbar__list">
                <li class="navbar__list-item">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    Cam kết giá tốt</li>
                <li class="navbar__list-item">
                        <a href="" class="navbar__list-item-link">
                            <i class="fa-solid fa-truck"></i>
                            Miễn phí vận chuyển
                        </a>
                </li>
                <li class="navbar__list-item">
                        <a href="" class="navbar__list-item-link">
                            <i class="fa-solid fa-clock-rotate-left"></i>
                            Bảo hành tận nơi
                        </a>
                </li>
            </ul>
            <ul class="navbar__list">
                <li class="navbar__list-item">
                    <span class="navbar__list-title--no">Kết nối</span>
                    <a  class="navbar__list-icons-link" href="https://www.facebook.com/baoanh.bui.3363" target="blank">
                        <i class="navbar__list-icons fa-brands fa-facebook">
                            <p class="navbar__list-icons-mesenger">Kết nối facebook</p>
                        </i>
                    </a>
                    <a  class="navbar__list-icons-link" href="https://www.instagram.com/baoanh0911/saved/" target="blank">
                        <i class="navbar__list-icons fa-brands fa-instagram">
                            <p class="navbar__list-icons-mesenger">Kết nối instagram</p>
                        </i>
                    </a>
                </li>  
                <li class="navbar__list-item navbar__list-item--Strong">
                    <i class="fa-solid fa-user-plus"></i>
                    <a href="/HTML/dangky.html"> Đăng ký </a>
                </li>
                <li class="navbar__list-item navbar__list-item--Strong">
                    <i class="fa-solid fa-user"></i>
                    <a href="../HTML/login.html" >Đăng nhập</a>
                </li>   
            </ul>    
        </div>
        <div class="Header-with-search row">
            <div class="Header__logo">
                <img class="Header__logo-img"  src="../../../../assets/user_UI/IMG/logodienmayxanh.png">
            </div>
            <div class="Header__search hide-on-mobile">
                <input type="text" class="Header__search-input" placeholder="Nhập tên TiVi... cần tìm">
                <button class="Header__search-btn">
                    <i class="Header__search-btn-icon fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
            <div class="Header__cart">
                <a href="/cart" >
                    <i class="Header__cart-icon fa-solid fa-cart-shopping"></i>
                </a>
                <span class="cart__item">{{ cartItems }}</span>
            </div>
        </div>
    </div>
    <div class="Header-navbar hide-on-tablet-mobile">
        <div class="container">
            <ul class="Header-navbar__list row">
                <li class="Header-navbar__item">
                    <a class="Header-navbar__item-link" href="/">
                        <i class="navbar__list-icons fa-solid fa-list"></i>
                        Danh mục sản phẩm
                    </a>
                    <ul class="submenu" >
                        <li class="submenu__item" *ngFor = "let item of TrangChuLSPApi">
                            <button class="submenu__item-link" href="#" (click)="viewCategori(item.MaLoai)" style="text-align: left;">
                                <i class="navbar__list-icons fa-solid fa-tv"></i>
                                {{item.TenLoai}}
                            </button>

                        </li>
                        
                    </ul>
                </li>
                <li class="Header-navbar__item">
                    <a class="Header-navbar__item-link"href="">
                        <i class="navbar__list-icons fa-solid fa-phone-volume"></i>
                        Bán hàng trực tuyến
                    </a>
                    </li>
                <li class="Header-navbar__item">
                    <a class="Header-navbar__item-link" href="">
                        <i class="fa-solid fa-money-check-dollar"></i>
                        Mua trả góp
                    </a>
                </li>
                <li class="Header-navbar__item">
                    <a class="Header-navbar__item-link" href="">
                        <i class="fa-solid fa-cart-arrow-down"></i>
                        Khuyến mãi</a>
                    </li>
                <li class="Header-navbar__item">
                    <a class="Header-navbar__item-link" href="">
                    <i class="fa-solid fa-newspaper"></i>
                    Tin tức
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
